* {
	font-family: monospace, monospace;
}

.calculator {
	margin: auto;
	padding: 15px;
	background-color: aquamarine;
	align-self: center;
	width: 300px;
	border-radius: 15px;
}

.display {
	text-align: right;
	background-color: aliceblue;
	padding: 0 15px;
	border-radius: 9px;
	font-size: 72px;
	margin-bottom: 15px;
}

.clear {
	width: fit-content;
	background-color: lightgrey;
	padding: 0 15px;
	border-radius: 9px;
	font-size: 24px;
	user-select: none;
}

.keypad {
	display: flex;
	justify-content: space-between;
	user-select: none;
}

.column {
	display: flex;
	flex-direction: column;
}

.column div {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 30px;
	background-color: orangered;
	height: 60px;
	width: 60px;
	margin: 15px 0;
	line-height: 6rem;
	text-indent: 2px;
	font-size: 48px;
}